<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carousel</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/> <!--FontAwesome-->
        <link rel="stylesheet" href="css/style.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script defer src="js/vue-script.js"></script>
    </head>
    <body>
        <div id="root">
            <div class="container">
                <div id="carousel">
                    <i id="top" class="fa-solid fa-circle-arrow-up" @click="goUp" v-show="!isFirstImage"></i> <!-- freccia su -->
                    <div class="gallery">
                        <img v-for="(poster,i) in images" :src="poster.image" :class="{active : currentIndex === i}">
                    </div>
                    <i id="down" class="fa-solid fa-circle-arrow-down" @click="goDown" v-show="!isLastImage"></i> <!-- freccia giù -->
                    <div class="thumbnails">
                        <img v-for="(poster,i) in images" :src="poster.image" :class="{active : currentIndex === i}" @click="setIndex(i)" @mouseenter="noAutoplay">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>